version: "3.8"

services:
#  redis-task:
#    image: redis:latest
#    container_name: redis-task
#    ports:
#      - "6379:6379"
#    restart: unless-stopped

  postgres:
    image: postgres:latest
    container_name: my-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: test_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: